# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
shopt -s globstar

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls -hCF --color=auto' # has ls use colors, human readable sizes, symbols to indicate type of file(like * for executable and / for directory 
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

PS1='[\A \u@\h \w]$ ' #sets the prompt so that it will show the current time, the logged in user, the host you are on, and your current working directory

#some nice aliases

#to be lazy
alias l='ls' #because why type two characters when you can type one
alias la='ls -A' #show hidden files
alias ll='ls -l' #long format to see sizes and such 

#Directory movement
alias ..='cd ..'
alias ...='cd ../..'

#Automatically show files when changing directory, might be useful, might not be for you
function cd(){
	builtin cd "$@" && ls
}
